<p>Hey, you can download some cool QR Codes for this page by clicking the link below:</p>
<p><%= link_to "SVG", home_path("svg") %></p>
<p><%= link_to "PNG", home_path("png") %></p>
<p><%= link_to "JPEG", home_path("jpeg") %></p>
<p><%= link_to "GIF", home_path("gif") %></p>